/*公共css代码*/
.div1{
    width: 100%;
    height: 300px;
   
}
.div1 div{
    float: left;
    height: 100px;
}
.div1 div:first-child{
    background-color: red;
}
.div1 div:nth-child(2){
    background-color: green;
}
.div1 div:nth-child(3){
    background-color: yellow;
}