<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text" placeholder="请输入名字" v-model="keyWords">
        <h2>人员列表</h2>
        <!--我怎么知道用户点的哪个呢，于是想到了可以在data中设置个属性来记录-->
        <button @click="sortType = 0">原顺序</button>
        <button @click="sortType = 1">升序排序</button>
        <button @click="sortType = 2">降序排序</button>
        <ul>
            <li v-for="(item, index) in tempPerson" :key="item.id">
                {{index}}-{{item.name}}-{{item.age}}
            </li>
        </ul>

    </div>
    <script>
        new Vue({
            el: '#root',
            data: {
                persons:[
                    {id: 1, name: '周杰伦', gender: '男', age: 30},
                    {id: 2, name: '温兆伦', gender: '男', age: 28},
                    {id: 3, name: '周冬雨', gender: '女', age: 18},
                    {id: 4, name: '马冬梅', gender: '女', age: 29}
                ],
                keyWords: '',
                sortType: 0
            },
            computed: {
                tempPerson() {
                    //过滤
                    const arr =  this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWords) !== -1;
                    })
                    //排序
                    //如果需要排序
                    if(this.sortType){
                        arr.sort((p1, p2)=>{
                            return this.sortType === 1 ? p1.age - p2.age : p2.age - p1.age;
                        })
                    }
                    return arr;
                }
            }
        })
    </script>
</body>
</html>